

$htmlFont:'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$headingsFont: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
$Cardo: Cardo, 'Palatino Linotype', 'Book Antiqua', sans-serif;