
// Color
$dark-brown:#7C593C;
$light-blue:#C7F7FF;
$light-brown : #C9A689;
$dark-blue: #3a5E63;
$light-grey: #d4d4d4;
$med-blue: #89C0C9;
$colorwhite:#fff;
$dark-grey:#222;

// Font Family
$htmlFont:'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$headingsFont: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
$Cardo: Cardo, 'Palatino Linotype', 'Book Antiqua', sans-serif;

//Font-Size

$default-font-sizepx:16px;
$default-fs-xsizerem:1rem;
$default-fs-lsizerem:1.999rem;
$default-fs-ssizerem:1.414rem;
$default-fs-xlsizerem:3.998rem;

//Medium size

//Large size
$lsc-fs-lsizerem:3.998rem;
$lsc-fs-ssizerem:2.827rem;
// Font Weight
$lsc_fw100: 100;
$lsc_fw400: 400;
$lsc_fw700: 700;

$bfs_7rem: 7rem;
//$fs_399rem: 3.998rem;

$default-lh:1.6;
$bsize:1rem;
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1401px),
);

//width
$width20pc: 20%;
$width25pc: 25%;
$width30pc: 30%;
$width50pc: 50%;
$width75pc: 75%;
$width100pc: 100%;
$width400px: 400px;
$width600px: 600px;
$width700px: 700px;
$width900px: 900px;
$width1400px:1400px;
